body{
	background: #181719;
	color: #f9f9f9;
}
/* BURGER */

.menu-link {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100%;
  max-width: 30px;
  margin: 0;
  z-index: 1002;
  transition: .3s;
}
.menu-link img{
  width: 100%;
}
.burger{
  display: block;
  transition: .3s;
}
.burger.open{
  display: none;
}
.burger-open{
  display: none;
}
.burger-open.open{
  display: block;
  transition: .3s;
}
.burger-open:hover{
  transition: .3s;
  transform: rotate(45deg);
}
.burger:hover{
  transition: .3s;
  transform: rotate(90deg);
}
.menu-overlay{
  background-color: #f9f9f9;
  height: 100%;
  width: 100%;
  max-width: 179px;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  z-index: 1001;
  transition: 0.1s;
  display: grid;
  place-content: center;
}
.menu-overlay.open{
  opacity: 1;
  transition: 0.2s;
  visibility: visible;
}
.menu-overlay a{
    color: black;
    text-decoration: none;
    margin: 20px;  
    transition: 0.2s;
}
.menu-overlay a:hover{
  text-decoration: underline ;
  text-underline-offset: 3px;
  transition: 0.2s;
} 

/* BURGER */

/* CONTENEDOR PADRE */

.Contenedor-padre{
	width: 100%;
	max-width: 800px;
	display: flex;
	flex-flow: row nowrap;
	margin: 0 auto;
}

/* CONTENEDOR PADRE */

/* LEFT - RIGHT */

.left{
	width: 100%;
	max-width: 450px;
	display: flex;
	flex-flow: column wrap;
}

.right{
	width: 100%;
	max-width: 350px;
	background: #0A0A0A;
	display: flex;
	flex-flow: column wrap;
}

/* LEFT - RIGHT */

/* SPACE */

.Space-1{
	width: 100%;
	max-width: 350px;
	height: 20px;
}

.Space-2{
	width: 100%;
	max-width: 450px;
	background: #0A0A0A;
	height: 20px;
}

/* SPACE */

/* CONTENIDO DENTRO DEL NAV */

.nav-icon{
	width: 100%;
	max-width: 450px;
	display: flex;
	justify-content: center;
}

.nav-icon button{
	font-family: 'Crimson Pro';
	line-height: 16px;
	font-size: 10px;
	letter-spacing: 2px;
	padding: 6px 12px;
	background: transparent;
	border: 1px solid;
	color: #f9f9f9;
	border-radius: 2.5px;
	transition: 0.3s;
}

.nav-icon button:hover{
	transform: scale(1.1);
	background:#f9f9f9;
	color: #181719;
	transition: 0.3s;
}

.nav-menu{
	width: 100%;
	max-width: 350px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	z-index: 1;
}

.nav-menu div a{
	color: #f9f9f9;
	text-decoration: none;
	transition: 0.2s;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 17px;
}
.nav-menu div a:hover{
	text-decoration: underline 0.9px;
	text-underline-offset: 4px;
}

/* CONTENIDO DENTRO DEL NAV */

/* CONTENEDOR HEADER  */

.header{
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	height: 200px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.header-contain-1{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 450px;
}

.header-contain-2{
	display: flex;
	place-content: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 350px;
	margin-top: 9px;
}

/* CONTENEDOR HEADER  */

/* HEADERS */

.header-left{
	width: 100%;
	text-align: center;
}

.header-left-p1{
	width: 100%;
	text-align: right;
	margin-left: 20px;
	z-index: 1;
}

.header-left-p2{
	width: 100%;
	margin-left: 100px;
	z-index: 1;
}

.header-left-p2 h4{
	font-weight: 200;
	letter-spacing: .7px;
}

.header-left-p1 h2{
	font-size: 1.7rem;
}

.header-right{
	width: 100%;
}

.header-right-p1{
	margin:15px 0px 0px -10px;
	width: 100%;
}

.header-right-p1 h2{
	font-size: 2rem;
}

/* HEADERS */

/* MEDIAS */

@media(max-width:530px){
	.menu-link{
		display: block;
	}
	.nav-menu{
		visibility: hidden;
	}
}

@media(max-width:1278px){
  .menu-overlay{
    width: 100%;
    max-width: 2000px;
  }
}

/* MEDIAS */

