body{
	background: #181719;
	color: #f9f9f9;
}

.main{
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 600px;
	background: rgb(63, 63, 63);
	padding:5px 10px;
	margin: 0 auto;
	align-items: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}

/* CONTENIDO 1 */

.Caja-1{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	display: flex;
	place-content: center;
	justify-content: center;
}

.Contenido-1{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Contenido-2{
	display: flex;
	align-items: center;
	place-content: center;
	width: 100%;
	max-width: 50px;
}

.mail1{
	visibility: visible;
	opacity: 1;
	transition: 0.1s;
}

.mail1.open{
	visibility: hidden;
	opacity: 0;
	transform: scale(1.15);
}

.mail2{
	position: absolute;
	visibility: hidden;
	opacity: 0;
	margin-bottom: 4px;
}

.mail2.open{
	visibility: visible;
	opacity: 1;
	transition: .5s;
}

.Contenido-3{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
	background: #181719;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 400px;
	text-align: center;
	padding: 20px;
}

.Contenido-3 input{
	text-align: center;
	margin: 5px 10px;
}

.Contenido-3 input[type="email"]{
	border: 0 none transparent;
	padding: 5px 0px;
	border-radius: 5px;
	margin: 15px 0px;
	width: 70%;
}

.Contenido-3 input[type="name"]{
	border: 0 none transparent;
	padding: 5px 0px;
	border-radius: 5px;
	margin: 15px 0px;
	width: 70%;
}

.Contenido-3 input[type="text"]{
	border: 0 none transparent;
	padding: 5px 0px;
	border-radius: 5px;
	margin: 15px 0px;
	width: 70%;
}

.Contenido-3 input[type="submit"]{
	height: 30px;
	width: 30%;
	text-align: center;
	margin: 5px 10px;
	border: 0px none transparent;
	border-radius: 5px;
	transition: .3s;
}

.Contenido-3 input[type="submit"]:hover{
	transition: .3s;
	transform: scale(1.05);
}

/* CONTENIDO 1 */

/* CONTENIDO 2 */

.Caja-2{
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.Contenido-ubicacion{
	width: 100%;
	max-width: 200px;
}

.Contenido-ubicacion img{
	width: 100%;
}

.fin{
	width: 100%;
	max-width: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.fin > div{
	width: 100%;
	max-width: 50px;
}

.fin > div img{
	width: 100%;
}

.Caja-2 > a{
	text-decoration: none;
	color: white;
}

.insta-1{
	visibility: visible;
	opacity: 1;
	transition: 0.1s;
}

.insta-1.open{
	visibility: hidden;
	opacity: 0;
	transform: scale(1.15);
}

.insta-2{
	position: absolute;
	margin-left: 12px;
	visibility: hidden;
	opacity:0 ;
}

.insta-2.open{
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
}

.fin2{
	width: 100%;
	max-width: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.fin2 > div{
	width: 100%;
	max-width: 50px;
}

.fin2 > div img{
	width: 100%;
}

.email-1{
	visibility: visible;
	opacity: 1;
	transition: 0.1s;
}

.email-1.open{
	visibility: hidden;
	opacity: 0;
	transform: scale(1.15);
}

.email-2{
	position: absolute;
	visibility:hidden ;
	opacity:0 ;
}

.email-2.open{
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
}

/* CONTENIDO 2 */


/* MEDIAS */

@media(max-width:450px){
.Contenido-3{
	padding: 0;
}
}

/* MEDIAS */

