body{
	background: #181719;
	color: #f9f9f9;
	overflow: hidden;
}
.menu-link {
  display: none;
  place-content: center;
  width: 100%;
  max-width: 30px;
  margin: 0;
  position: absolute;
  right: 0;
  z-index: 1002;
  transition: .3s;
}
.menu-link img{
  width: 100%;
}
.burger{
  display: block;
}
.burger.open{
  display: none;
}
.burger-open{
  display: none;
}
.burger-open.open{
  display: block;
}
.menu-overlay{
  background-color: #f9f9f9;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  z-index: 1001;
  transition: 0.1s;
  display: grid;
  place-content: center;
}

body.open{
	overflow: hidden;
}

.menu-overlay.open{
  opacity: 1;
  transition: 0.2s;
  visibility: visible;
}
.menu-overlay a{
    color: black;
    text-decoration: none;
    margin: 20px;  
    transition: 0.2s;
}
.menu-overlay a:hover{
  text-decoration: underline ;
  text-underline-offset: 3px;
  transition: 0.2s;
} 
@media(max-width:547px){
  .menu-overlay{
    width: 100%;
  }
  .menu-link{
    display: grid;
  }
}
.nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}
.nav div{
	margin-top: 5px;
}
.nav div button{
	font-family: 'Crimson Pro';
	line-height: 16px;
	font-size: 10px;
	letter-spacing: 2px;
	padding: 6px 12px;
	background: transparent;
	border: 1px solid;
	color: #f9f9f9;
	border-radius: 2.5px;
	transition: 0.3s;
}
.nav div button:hover{
	transform: scale(1.1);
	background:#f9f9f9;
	color: #181719;
	transition: 0.3s;
}
.Info{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 80px;
}
.Info div a{
	color: dimgray;
	text-decoration: none;
	transition: 0.2s;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 17px;
}
.Info div a:hover{
	color: #f9f9f9;
	text-decoration: underline 0.9px;
	text-underline-offset: 4px;
}
.Main{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}
.Text1{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 40%;
	margin-bottom: 120px;
}
.Text1 h1{
	letter-spacing: 2px;
	font-family: Lora;
	font-weight: 200;
}
.Text1 h2{
	letter-spacing: 0.7px;
	font-weight: 100;
	font-size: 20px;
	font-family: Montserrat;
}
.Text1 a {
	text-decoration: none;
	color: dimgray;
	transition: 0.3s;
	width: 35%;
}
.Text1 a:hover{
	text-decoration: underline;
	text-underline-offset: 2px;
	color: #f9f9f9;
	transition: 0.3s;
}
.contentIMG{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	max-width: 515px;
}
.contentIMG img{
	width: 100%;
	border-radius: 2px;
}
.profile{
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
	width: 100%;
	max-width: 280px;
	left: 150px;
	bottom: 100px;
	background: #181719;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
	margin-right: 100px;
	transition: 0.3s;
}
.profile:hover{
	transform: scale(1.06);
	transition: 0.3s;
}
.Username{
	display: flex;
	gap: 15px;
	align-items: center;
}
.Username div h2{
	font-size: .6rem;
}
.Username div h3{
	font-size: 13px;
}
.UserIMG{
	width: 100%;
	max-width: 45px;
}
.UserIMG img{
	width: 100%;
	border-radius: 50%;
}
.by{
	font-size: 13px;
}
@media(max-width:1210px){
	.nav .Info{
		margin: 0px 20px;
	}
	.nav div button{
		margin: 0px 20px;
	}
	.Main .Text1{
		margin: 0px 20px 120px 20px;
	}
	.Main .contentIMG{
		margin: 0px 20px;
	}
	body{
		overflow: visible;
	}
}
@media(max-width:1050px){
	.Text1{
		width: 100%;
		max-width: 1900px;
		display: grid;
		place-items: center;
	}
	.contentIMG{
		width: 100%;
		max-width: 1900px;
		display: grid;
		place-items: center;
	}
	.contentIMG img{
		margin-top: 10px;
		width: 80%;
	}
	.Main .Text1{
		margin: 0px 20px 0px 20px;
	}
}
@media(max-width:676px){
	.profile{
		margin-right: 220px;
		margin-top: 70px;
		max-width: 200px;
	}
	.Username div h2{
		font-size: 3px;
	}
	.Username div h3{
		font-size: 2px;
	}
}
@media(max-width:648px){
	.Info{
		justify-content: center;
		width: 100%;
	}
}
@media (max-width:547px){
	.nav .Info{
		display: none;
	}
	.nav div button{
		margin-top: 10px;
	}
}
@media(max-width:414px){
	.Text1 a{
		width: 80%;
	}
}