/* * */

body{
	background: #5E5E5E;
    color: #f9f9f9;
}
li{
    display: inline-block;
}
span{
    cursor: pointer;
}

/* * */

/* BURGER */

.menu-link {
  display: grid;
  place-content: center;
  width: 100%;
  max-width: 30px;
  margin: 0;
  position: absolute;
  z-index: 1002;
  transition: .3s;
}
.menu-link img{
  width: 100%;
}
.burger{
  display: block;
  transition: .3s;
}
.burger.open{
  display: none;
}
.burger-open{
  display: none;
}
.burger-open.open{
  display: block;
  transition: .3s;
}
.burger-open:hover{
  transition: .3s;
  transform: rotate(45deg);
}
.burger:hover{
  transition: .3s;
  transform: rotate(90deg);
}
.menu-overlay{
  background-color: #f9f9f9;
  height: 100%;
  width: 100%;
  max-width: 179px;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  z-index: 1001;
  transition: 0.1s;
  display: grid;
  place-content: center;
}
.menu-overlay.open{
  opacity: 1;
  transition: 0.2s;
  visibility: visible;
}
.menu-overlay a{
    color: black;
    text-decoration: none;
    margin: 20px;  
    transition: 0.2s;
}
.menu-overlay a:hover{
  text-decoration: underline ;
  text-underline-offset: 3px;
  transition: 0.2s;
} 

/* BURGER */

.container{
    background: #181719;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.9);
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
    padding: 10px;
}
.profile{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.profile-image img{
    border-radius: 50%;
    width: 100%;
    max-width: 100px;
    margin: 0 0 20px ;
}
.profile-user-settings{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    max-width: 600px;
}
.Username{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.Username h2{
    font-size: 17px;
}
.Username button{
    border-radius: 6px;
    border: 0px none transparent;
    padding: 5px 8px;
    font-size: 13px;
    transition: 0.2s;
}
.Username button:hover{
    background: #D3D3D3;
    transition: 0.2s;
}
.Username button:active{
    background: #B8B8B8;
    transition: 0.2s;
}
.Stats{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.Bio{
    justify-content: center;
	display: flex;
    gap: 10px; 
    width: 100%;
}
.Bio >a{
    color: #9C9C9C;
    transition: 0.3s;
    text-underline-offset: 15px white;
}
.Bio a:hover{
    color: white;
    transition: 0.4s;
}

.item{
    position: relative;
    cursor: pointer;
    width: 100%;
    max-width: 280px;
}
.item img{
    width: 100%;
}
.gallery-item-info {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 90%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.6);
}
.item:hover .gallery-item-info{
    gap: 20px;
    display: flex;
}
.Getlikes{
    width: 100%;
    max-width: 250px;
}
.Getlikes img{
    width: 100%;
}
.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.gallery{
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
.Caja{
    width: 100%;
    height: 200px;
    max-width: 200px;
    background: blue;
    display: grid;
    place-content: center;
}


/* MEDIAS */

@media(max-width:1278px){
  .menu-overlay{
    width: 100%;
    max-width: 2000px;
  }
}

@media(max-width:880px){
    .gallery{
        justify-content: space-around;
    }
}

@media(max-width:760px){
    .profile-user-settings{
        place-content: center;
    }
    .Username{
        justify-content: center;
    }
    .Stats{
        justify-content: center;
    }
    .Bio{
        justify-content: center;
    }
}

/* MEDIAS */